a {
  color: #2d4676; }

input[type="submit"], input[type="button"], button, button.button {
  background-color: #2d4676;
  border-color: #2d4676; }

input[type="text"] {
  background-color: #eee; }

input[type="text"]:focus {
  border-color: #2d4676; }

body {
  background-color: #efefef; }

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #212b33;
  padding: 8px; }
  .header img {
    margin: 0 8px;
    width: 32px;
    height: 32px; }
  .header h1 {
    color: #fff;
    display: inline; }
  .header .actions {
    display: flex;
    align-items: flex-start;
    padding: 16px 0 0 0; }
    .header .actions div {
      padding: 0 8px; }
    @media (max-width: 726px) {
      .header .actions .menu {
        display: none; } }
    .header .actions a {
      color: #ddd; }
  .header .search-form {
    margin: 0;
    flex-grow: 2;
    padding: 8px 8px 0 60px;
    display: flex;
    align-items: flex-start; }
    @media (max-width: 726px) {
      .header .search-form {
        padding: 8px; } }
    .header .search-form input[type="text"] {
      margin: 0 4px;
      width: 100%; }
    .header .search-form input[type="submit"] {
      width: 90px;
      padding: 0 8px; }

.content {
  padding: 20px; }

.footer {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  flex-wrap: wrap; }
  .footer .credit {
    padding: 16px 8px; }
  .footer .links {
    display: flex;
    align-items: flex-start;
    padding: 32px 0 0 0;
    flex-grow: 2; }
    .footer .links div {
      padding: 16px 8px; }

.thread {
  padding: 8px 8px 20px 8px;
  border-bottom: solid 1px #2d4676; }

.user-info {
  display: flex; }
  .user-info img {
    width: 48px;
    height: 48px;
    padding-right: 4px; }

.tags-container {
  padding-bottom: 40px; }
  .tags-container div div {
    display: flex; }

.tags {
  display: flex;
  flex-wrap: wrap; }
  .tags a {
    white-space: nowrap;
    color: #ca5b1a;
    border: 1px solid #ca5b1a;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 4px;
    height: 35px; }

.tag-edit button {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  margin: 5px;
  height: 32px; }

.reply {
  padding: 20px 40px;
  border-bottom: solid 1px #2d4676; }
