extends layout

block content
  h3 1. Install App to your slack
  p Please click "install to your slack" and authroze.
  h3 2. invite bot
  p Invite @slacknowledge bot user to your channnel.
  h3 3. Save Question & Answer
  p Add :memo: emoticons to the Q&A you want to save.
