extends layout

block content
  p Thanks.
  p
  | Currently Slacknowledge is beta testing, so we accept registration manually.
  p
  | Slacknowledge bot will be available within your team in a few days.
  p
  | If you have any questions, please contact the following e-mail address.
  ul
    li
      a(href="mailto:daishi@pig-brewing.com") daishi@pig-brewing.com